.main {
	position: static;
}

.head {
}

.project {
	display: flex;
  flex-direction: column;
  justify-content: center;
	width: 100%;
}

.interkn {
	background-image: url('./assets/images/funding.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.corkboard {
	background-image: url('./assets/images/corkboard.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.scrapers {
	background-image: url('./assets/images/giphy.gif') !important;
	background-repeat: no-repeat;
	background-size: cover;

	&:before {
		content: "";
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		display: block;
		background-color: rgba(#27aae1, 0.75);
	}
}

.whitepapers {
	background-image: url('./assets/images/whitepaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.seo {
	background-image: url('./assets/images/seo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.fantasy {
	background-image: url('./assets/images/fantasy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
