.main {
	
}

.title {

}

.date {
	
}

.video {
	display: inline-block;
	text-align: center;
}

.topbar {
	padding: 1rem;
}

.post {
	padding-top: 5rem;
	padding-bottom: 0 !important;
}

.share {
	padding-top: 3rem;
}
