.main {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	border: none;
	padding: 0.5em 0.5em;
}

.normal {
	background-color: blue;
}

.main + .main {
	margin-left: 1em;
}
